.modal {
  position: fixed;
  top: 0;
  background-color: #000000c4;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.hide {
  display: none;
}
.modal.hide .modal-container {
  zoom: 0;
  transition: all 1s ease-in-out;
}
.modal-container {
  zoom: 1;
  width: 80vw;
  height: 20vh;
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 10px;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.modal-container .price {
  font-weight: 700;
}
.modal-container .success {
  color: #1dda81;
}
